# App
NODE_ENV=development
API_PORT=3000

# JWT
JWT_SECRET=your-secret-here
JWT_EXPIRES_IN=7d

# MongoDB (individual — para docker-compose)
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DATABASE=technical-test
MONGO_USERNAME=root
MONGO_PASSWORD=root

# MongoDB (URI — para Atlas en producción o conexión directa)
MONGODB_URI=mongodb://root:root@mongo:27017/technical-test?authSource=admin

# Seed
SEED_ADMIN_EMAIL=admin@technical-test.com
SEED_ADMIN_PASSWORD=Admin123!

# AWS (solo producción)
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=
